body {
    margin: 0;
    padding: 0;
    background-color: #fffbef; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#333;
}

header {
    position: fixed;
    width: calc(100% - 40px);
    background-color: #fffbef;
    color: #333;
    padding: 0px 20px 0px 20px;
    box-shadow: 0 0 50px -30px #4e3629;
    user-select: none;
}

header h1 {
    text-align: left;
    cursor: default;
    margin: 20px 0 20px 10px;
    padding-top: 0;
    height: 40px;
    width: fit-content;
    float: left;
}

header #logo{
    height: 80px;
    float: left;
}

header hr{
    clear: both;
}

header .main-nav {
    /* padding: 0 10px 10px 10px; */
    float: right;
    margin: 20px auto;
    height: 40px;
    font-size: large;
}

.main-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    width: fit-content;
    margin: auto;
    /* padding: 0 10px; */
}

.main-nav ul li {
    display: inline;
    height: fit-content;
    margin: 0 0px 0 10px;
    
}

.main-nav ul li a {
    color: #333;
    font-size: 1.5em;
    font-weight: lighter;
    padding: 10px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.main-nav ul li a:hover{
    color: #bfa387;
    text-decoration: none;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    /* border-bottom: 1px solid #777; */
}

footer {
    clear: both;
    background-color: #333333;
    color: #fffbef;
    text-align: center;
    padding: 20px;
}
