:root {
    --image-rounding: 200px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbef; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #fffbef;
    color: #333;
    padding: 20px 20px 0px 20px;
    box-shadow: 0 0 50px -30px #4e3629;
}
header h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

nav {
    padding: 0 10px 10px 10px;
}

nav ul {
    list-style-type: none;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 5px 0 5px;
    
}

nav ul li a {
    color: #333;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

nav ul li a:hover{
    color: #bfa387;
    text-decoration: none;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    /* border-bottom: 1px solid #777; */
}

section {
    overflow: hidden;
    font-size: large;
    padding: 200px 0px 0px 0px;
    /* margin: 100px 0px 100px 0px; */
    color: #333;
    height: fit-content;
    min-height: 200px;
}

section.left .test{
    border-top-left-radius: var(--image-rounding);
    border-bottom-left-radius: var(--image-rounding);
    transition: 200ms ease-in-out;
}

section.right .test{
    border-top-right-radius: var(--image-rounding);
    border-bottom-right-radius: var(--image-rounding);
    transition: 200ms ease-in-out;
}

section.right .test:hover{
    /* border-top-right-radius: calc(var(--image-rounding) + 50px);
    border-bottom-right-radius: calc(var(--image-rounding) + 50px); */
    margin: 0px -50px 0px 50px;
}

section.left .test:hover{
    /* border-top-left-radius: calc(var(--image-rounding) + 50px);
    border-bottom-left-radius: calc(var(--image-rounding) + 50px); */
    margin: 0px 50px 0px -50px;
}

section .test{
    width: 100%;
}

#test3{
    margin-bottom: 200px;
}

section .one{
    float: left;
    width: calc(70% - 100px);
    padding: 50px;

}

section .two{
    float: left;
    width: 30%;
}

section.right .two{
    margin: 0px 50px 0px -50px;
}

section.left .two{
    margin: 0px -50px 0px 50px;
}

section h2{
    font-size: 3em;
    width: auto;
}

section p{
    padding: 20px;
}

section p, h2{
    text-align: center;
}

footer {
    clear: both;
    background-color: #333333;
    color: #fffbef;
    text-align: center;
    padding: 20px;
}
