/* .asterisk{
    color: red;
}

#formu{
    
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

label{
    margin: 5px;
}

.normal_input{
    margin: 5px 5px 15px 5px;
    height: 20px;
    border-radius: 5px;
    border: 0px;
    outline: 2px solid  #4e3629;
}

#send{
    margin: 5px;
} */

/* Style the form itself */

#formu {
  display: flex;
  flex-direction: column;
  width: 300px; 
  margin: 138px auto; 
  padding: 20px;
  border: 0px solid #333;
  border-radius: 5px;
}

label {
  display: block; 
  margin: 15px 0 5px;
  font-weight: bold;
}

.asterisk {
  color: red;
  font-weight: lighter;
  font-size: small;
}

.normal_input {
  width: 100%;
  height: 35px;
  padding: 8px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  box-sizing: border-box; 
}

#send {
  background-color: #A47854;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.05s ease;
}

#send:hover {
  background-color: #8C5C3A; 
}

.form_table{
  border-collapse: collapse;
}

.checkbox_class, .radio_class{
  margin-left: 0px;
}
#form_result {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}