.gallery{
    border: 2px solid #333;
    box-shadow: 0 0 50px -30px #4e3629; 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    justify-content: center;
    min-height: 505px;
    height: fit-content;
    width: calc(100vw - 200px);
    border-radius: 20px;
    padding: 50px;
    margin: 75px 100px 50px 100px;
    /* background-color: aqua; */
}

.gallery .gallery-item{
    min-height: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

.gallery .gallery-item img{
    box-shadow: 0 0 50px -30px #4e3629; 
    height: 150px;
    transition: 50ms ease-in-out;
    transform: scale(1);
    z-index: 1;
}

.gallery .gallery-item img:hover{
    box-shadow: 0 0 75px -20px #4e3629; 
    transform: scale(1.05);
    /* height: 160px; */
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 175px;
}