body {
    margin: 0;
    padding: 0;
    background-color: #fffbef; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#333;
    overflow-x: hidden;
}

.header-fixed {
    position: fixed;
    /* opacity: 50%; */
    top: 0;
    left: 0;
    z-index: 2;
    width: calc(100% - 40px);
    /* background-color: #fffbef; */
    background-color: rgba(255, 251, 239, 0.75);
    color: #333;
    padding: 0px 20px 0px 20px;
    user-select: none;
    box-shadow: 0 0 50px -30px #4e3629; 
}

/* .logo-title *{
    background-color: #fffbef;
} */

#heading{
    /* padding: 10px 0 10px 0; */
    margin: 0;
    color: #fffbef;
    /* padding: 65px 0 0px 0; */
    text-align: center;
    text-wrap: nowrap;
    height: 58px;
    /* padding żeby w razie czego przyciemnić tło headera */
    /* padding-top: 110px; */
    font-size: 50px;
    
    /* border-top: 2px solid #4e3629;
    border-bottom: 2px solid #4e3629; */
}

@media screen and (min-width: 1020px){
    /* section{

    } */

    /* #heading-container{
        margin-top: 110px;
    } */

    #heading{
        /* padding żeby w razie czego przyciemnić tło headera */
        padding-top: 110px;
    }

    .header-fixed{
        height: 110px;
    }

    .header-fixed .logo-title #title{
        font-size: 30px;
    }

    header .logo-title{
        font-size: auto;
    }

    .main-nav ul li .nav-link{
        font-size: 22px; 
    }

    header .main-nav{
        margin: 30px auto 25px auto;
    }
    
    header .secondary-nav{
        margin: 98px auto 8px auto;
    }
}

/* @media screen and (max-height: 500px){
    
} */

@media screen and (min-height: 501px) and (max-width: 1019px){
    header .logo-title{
        margin-bottom: 10px;
    }
    header .main-nav{
        margin: 10px auto 10px auto;
    }
}

@media screen and (max-height: 500px) and (min-width: 1020px){
    header .logo-title{
        margin-bottom: 10px;
    }
    header .main-nav{
        margin: 30px auto 30px auto;
    }
}

@media screen and (max-width: 1019px){
    header{
        display: grid;
        place-items: center;
    }

    /* #heading-container{
        margin-top: 138px;
    } */

    #heading{
        /* padding żeby w razie czego przyciemnić tło headera */
        padding-top: 138px;
    }

    .header-fixed{
        height: 138px;
    }

    header .logo-title #logo{
        height: 70px;
    }

    header .logo-title #title{
        margin-left: 0px;
        margin-right: 15px;
        font-size: 25px;
    }

    header .logo-title{
        width: 330px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        /* font-size: calc(10px + 0.35vw); */
        height: fit-content;
        text-align: center;
        margin: 0 auto;
    }

    header .logo-title, header .main-nav{
        margin: 0px;
    }

    header .main-nav{
        min-height: 40px;
        height: fit-content;
        /* font-size: large; */
        width: 100%;
    }

    header .main-nav ul{
        flex-wrap: wrap;
        min-height: 40px;
        height: fit-content;
    }

    /* header .secondary-nav{
        margin: 178px auto 8px auto;
    } */

    header .main-nav > ul > li{
        margin-top: 5px;
    }

    header .main-nav > ul > li .nav-link{
        font-size: calc(17px);
    }
    
}

@media screen and (max-width: 370px){
    .header-fixed{
        width: 100vw;
        padding: 0;
    }
}

@media screen and (max-width: 570px) {
    
    .header-fixed{
        height: fit-content;
    }

}

header .logo-title{
    float: left;
}

.header-normal{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    background-color: #fffbef;
    color: #333;
    padding: 0px 20px 0px 20px;
    /* box-shadow: 0 0 50px -30px #4e3629; */
    user-select: none;
    /* z-index: 999; */
}

/* header hr{
    margin-top: 0px;
} */

header #title {
    text-align: left;
    cursor: default;
    margin: 30px 0 10px 10px;
    padding-top: 0;
    height: 40px;
    width: fit-content;
    float: left;
}

header #logo{
    height: 80px;
    float: left;
}

header hr{
    clear: both;
    width: 100%;
}

.header-fixed .main-nav > ul > li {
    position: relative; /* Establish a positioning context */
}

/* 
####################################################################################################
#todo: WHen you hover on the subpage name, the subnav rolls down and you can see the page's content#
####################################################################################################
*/

.header-fixed .main-nav ul  li .site-nav{
    position: absolute;
    visibility: hidden;
    min-width: 50px;
    width: 75%;
    height: 0px;
    top: 100%;
    left: 15px;
    /* background-color:#fffbef; */
    background-color: rgba(255, 251, 239, 0.97);
    transition: 50ms ease-in-out;
    z-index: 10;
}

.header-fixed .main-nav > ul > li .nav-link:hover ~ .site-nav,
.header-fixed .main-nav > ul > li .site-nav:hover{
    position: absolute;
    padding: 10px;
    visibility: visible;
    border: 2px solid #4e3629;
    border-radius: 5px;
    height: fit-content;
    text-decoration: none;
    min-height: 25px;
    /* width: 100%; */
}

.site-nav .subnav{
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    padding-left: 0px;
    gap: 10px;
    list-style: none;
    height: fit-content;
    list-style-type: disc;
}
.site-nav .subnav li{
    width: 100%;
    
}

.site-nav .subnav li a{
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

/* .header-fixed .main-nav ul li a:hover,
.header-fixed .main-nav ul li .site-nav:hover{
    position: relative;
    z-index: 999;
} */

header .main-nav, header .secondary-nav {
    /* padding: 0 10px 10px 10px; */
    float: right;
    min-height: 40px;
    font-size: large;
}

.main-nav > ul, .secondary-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    min-height: 40px;
    width: fit-content;
    margin: auto;
    /* padding: 0 10px; */
}

nav ul li {
    display: inline;
    height: fit-content;
    text-align: center;
    /* margin: 0 0px 0 10px; */
    
}

.material-symbols-outlined{
    /* transform: rotate(90deg); */
    /* margin-top: 2px; */
    height: 23px;
    transition: 100ms ease-in-out;
}

.header-fixed .main-nav > ul > li .nav-link:hover .material-symbols-outlined,
.header-fixed .main-nav > ul > li .nav-link:focus .material-symbols-outlined,
.material-symbols-outlined:hover, 
.material-symbols-outlined:focus,
.nav-link:has(+.site-nav:hover) .material-symbols-outlined{
    transform: rotate(180deg);
}


.secondary-nav ul li .nav-link, .main-nav > ul > li .nav-link{
    color: #333;
    display: flex;
    align-items: center;
    font-weight: lighter;
    width: fit-content;
    max-height: fit-content;
    padding: 10px 5px 10px 20px;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.secondary-nav ul li .nav-link{
    font-size: 15px;
}

nav ul li .nav-link:hover, 
nav ul li .nav-link:focus,
.site-nav .subnav li a:hover
{
    color: #bfa387;
    text-decoration: none;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    /* border-bottom: 1px solid #777; */
}

footer {
    clear: both;
    background-color: #4e3629;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffbef;
    text-align: center;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
}
